SERVER_PORT=3031
SERVER_IP=localhost

TIMEOUT_MS_VALUE=5000
TIMEOUT_SHORT_MS_VALUE=3000

ORANGEHRM_URL=https://opensource-demo.orangehrmlive.com
ORANGEHRM_USERNAME=your_username
ORANGEHRM_PASSWORD=your_password

AWS_SQS_REGION=ap-south-1
AWS_SQS_ACCESS_KEY_ID=YOUR_SQS_ACCESS_KEY_ID
AWS_SQS_SECRET_ACCESS_KEY=YOUR_SQS_SECRET_KEY
SQS_VISIBILITY_TIMEOUT=3600
SQS_QUEUE_ORANGEHRM=orangehrmScraperQueue

DOWNLOADS_DIR=./downloads
SCREENSHOTS_DIR=./screenshots